* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}


:root {
    --bg-color: #ffffff;
    --text-color: #000;
    --second-color: #a09dab;
    --main-color: #2595f0;
    --primary-color: #44bd44;
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
}

span {
    color: var(--main-color);
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
}

.container{
    /* max-width: 1400px; */
    width: 100%;
    padding: 2% 6%;
}

/* college name  */

.college_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3% 4%;
}

.college_dropdown {
    width: 40%;
}

.college_dropdown label {
    font-size: 1.5rem;
    margin-right: 10px;
}

.college_dropdown select {
    width: 45%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.college_name {
    font-size: 1.5rem;
    width: 40%;
}

/* navbar ka position fixed rakhna hai baad me javascript se sticky kar dena hai 18:04 video se  */
.navbar {
    position: sticky;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--bg-color);
    padding: 7px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.logo {
    height: 65px;
    position: relative;
    width: 70px;
}

.logo img {
    border-radius: 50%;
    height: 100%;
    ;
    width: 100%;
}

#menu_icon {
    color: var(--text-color);
    cursor: pointer;
    display: none;
    font-size: 35px;
}

.navlist {
    margin-right: 40px;
    position: relative;
}

.navlist li {
    display: inline-block;
    padding: 5px;
    position: relative;
}

.navlist li a {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
    padding: 12px 27px;
}

.branch_list{
    padding-bottom: 10px;
}

.branch_list li a {
    font-size: 1.1rem;
}

.semester_list li a {
    font-size: 1rem;
}

.navlist>li>a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}

.navlist>li>a:hover::after {
    width: 100%;
}


.navlist ul {
    position: absolute;
    top: 47px;
    display: none;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    box-shadow: 5px 4px 7px grey, -4px 2px 7px grey, 0px 4px 4px grey;
    width: 240px;
}

.navlist li:hover>ul {
    display: block;
}

.navlist ul li {
    position: relative;
    height: 35px;
    width: 100%;
    display: list-item;
    cursor: pointer;
}

.navlist ul li:hover {
    background-color: rgb(44, 44, 150);
}

.navlist ul li:hover>a {
    color: white;
}

.navlist ul ul {
    box-shadow: 5px 4px 7px grey;
    position: absolute;
    left: 238px;
    top: -1px;
}

.navlist ul ul li {
    position: relative;
}

.icons {
    margin-right: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 12px 0;
    transition: ease .40s;
}

li:hover>.icons {
    transform: rotate(180deg);
}

.branch_list li:hover>.icons {
    transform: rotate(270deg);
    color: white;
}

/* span i {
    transform: rotate(8deg);
} */

.top-carousel {
    height: 680px;
}

.section_cl {
    padding: 50px 13% 20px 13%;
}

.my-info {
    position: absolute;
    top: 250px;
    left: 17%;
    font-family: 'Poppins', sans-serif;

}

.my-info h5 {
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
}

.my-info p {
    color: #ffffff;
    font-size: 45px;
    font-weight: 500;
}

.button-icon {
    background-color: #000000;
    border-radius: 50%;
    color: #ffff;
    font-weight: bold;
    width: 4rem;
}

/* HOME  */

.home {
    padding: 10% 8% 5%;
}

.home_container {
    align-items: center;
    justify-content: center;
}

.home_heading {
    color: #183b56;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.home_para {
    color: var(--secondary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.img_data {
    width: 100%;
}

.img_data img {
    width: 100%;
}

.branch_container {
    padding: 8% 5%;
}

.section_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.section_title h2 {
    font-size: 2rem;
    border-bottom: 2px solid blue;
}

.branch_data {
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.branch_data .branch_both{
    /* align-items: space-between; */
    justify-content: center;
    flex-direction: column;
}

.branch_data .branch_box {
    height: 170px;
    width: 270px;
    /* align-items: center;
    justify-content: center; */
    /* background-color: blue; */
    /* background: linear-gradient(135deg, #f403d1, #64b5f6); */
    box-shadow: 2px 2px 4px gray, -2px 2px 4px gray;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.branch_box.civil{
    background: url("../img/Civil.png") no-repeat center;
}

.branch_box.computer{
    background: url("../img/Computer.png") no-repeat center;
}

.branch_box.electronics{
    background: url("../img/ECE.png") no-repeat center;
}

.branch_box.mechanical{
    background: url("../img/Mechanical.png") no-repeat center;
}

.branch_both h2{
    text-align: center;
}

.syllabus_box_card{
    position: relative;
    color: black;
}

.hidden{
    display: none;
}

.title_sm h2{
    font-size: 1.8rem;
}

.row{
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    max-width: 100%;
}

.syllabus .bbd_column{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    padding: 10px;
    margin: 1% 1% 2%;
    border-radius: 10px;
    box-shadow: 3px 6px 6px rgb(185, 182, 182), -3px 6px 6px rgb(185, 182, 182);    

}

.bbd_column img{
    max-width: 400px;
    height: 150px;
    margin-bottom: 10px;
}

.col_lg{
    width: 31%;
}

/* .col_md{
    width: 50%;
} */

.bbd_column .bbd_action{
    margin: 10px 5px 0;
    position: relative;
}

.bbd_column .card_data{
    margin: 10px 0 0 10px;
}

.bbd_column .bbd_mg{
    cursor: pointer;
    margin: 10px;
}

.bbd_column span{
    margin-left: 4px;
    color: black;
    font-size: 1rem;
}

.card_data span{
    margin-right: 10px;
}

.card_data h4{
    font-size: 1.3rem;
    margin: 15px 5px;
    letter-spacing: 0.7px;
    font-weight: 400;
    color: #655c7c;
}

/* my share  */

.share_popup{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
    background-color:rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.share_box {
    background-color: white;
    width: 25vw;
    height: 22vw;
    border: 1px solid black;
    margin: auto;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 4px 4px 4px rgb(168, 168, 168), -4px 4px 4px rgb(168, 168, 168);
}

.share_title {
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 20px 18px;
}

.share_title span {
    font-size: 1.3rem;
    font-weight: 600;
}

.share_title .close {
    background-color: #e0e1eb;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.share_title .title_heading {
    font-weight: 500;
    letter-spacing: 0.5px;
}

.share_icon_list {
    flex-direction: column;
    padding: 10px 15px;
}

.share_box_content h3 {
    /* align-self: center; */
    margin: 15px 5px;
    font-size: 1.3rem;
    font-weight: 400;
}

.sm_list {
    justify-content: space-between;
    margin-top: 10px;
}

.sm_list a{
    width: 65px;
    height: 65px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.6rem;
}

.share_box_content .facebook{
    color: #0165E1;
}

.share_box_content .instagram{
    color: #bc2a8d;
}

.share_box_content .linkedin{
    color: #0A66C2;
}

.share_box_content .whatsapp{
    color:  #25D366;
    /* color:  #128C7E; */
}

.share_box_content .col_wh:hover{
    color: #fff;
}

.share_box_content .facebook:hover{
    background-color: #0165E1;
}

.share_box_content .instagram:hover{
    background: linear-gradient(240deg, #C13584, #E1306C);
}

.share_box_content .linkedin:hover{
    background-color: #0A66C2;
}

.share_box_content .whatsapp:hover{
    background-color:  #25D366;
}

.share_copy_box{
    flex-direction: column;
    padding: 10px 15px;
}

.share_copy{
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #e1e1e1; */
    border: 2px solid #2c2c96;
    border-radius: 8px;
    position: relative;
}

.share_copy_box i{
    font-size: 1.2rem;
    width: 35px;
}

.share_copy_box input{
    /* background: transparent; */
    border: none;
    color: #47475f;
    font-size: 1.1rem;
    outline: none;
    width: 80%;
}

.copy_btn {
    padding: 5px 15px;
    background: #2121c5;
    color: white;
    border: none;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 500;
    align-self: flex-end;
}


/* Contact  */

.contact_us{
    padding: 5% 3%;
}

.contact_us .title_heading{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.con-form{
    width: 100%;
    /* background-color: #e4edff; */
    padding-top:70px;
    padding-bottom:30px;
    height: auto;
}

.action{
    margin: auto;
    max-width:800px;
    width: 80%;
}

.Ind{
    color: #5f44c0;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 15px;
}

/* Style inputs with type= "text", select elements and textareas  */
 form input[type=text],input[type=email],input[type=number],select,textarea{
    width: 100%;
    /* max-width: 100%;
    width: 470px; */
    padding: 12px;
    background: none;
    border:none;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    resize: vertical;  /*Allow the user to vertically resize the textarea (not horizontally) */
 }

 /* style the submit button with a specific background color etc  */

 form input[type="submit"]{
    padding: 12px 20px;
    background: #2595f0;
    color: var(--bg-color);
    border: none;
    outline: none;
    display: block;
    margin: auto;
    /* margin: 0 10px 20px 0px; */
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    outline: none;
} 

/* when moving the mouse over the submit button, add a darker color  */
form input[type=submit]:hover{
    background-color: #44bd44;
}

.req{
    color: rgb(255, 0, 0);
}

.skill-value{
    margin-bottom: 10px;
}

#fsubject{
    margin-top: 10px;
}

.form-error{
    color:red;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}

/* footer  */

footer{
    height: 150px;
    padding: 40px 0 0;
    /* background: linear-gradient(120deg, blue, purple); */
    background: linear-gradient(135deg, #f75cdf, #64b5f6);
    color: #fff;
    text-align: center;

}

footer p{
    font-size: 1.2rem;
}
